{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- slider_area_start -->
 <div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center position-relative">
                <div class="col-lg-12">
                    <div class="slider_text text-center about_slide">
                        <h3>Hi Anish, Welcome !!!<br>
                            <span>Make your own <strong>Identity</strong></span></h3>
                    <a class="boxed-btn3-line" href="#">View Works</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<div class="download_area" id = "About">
    <div class="container">
        <div class="row">
            <div class="col-xl-10">
                <div class="download_text">
                    <h3>We change every event a "Memory". Frame it on web. </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="download_left">
                    <p>We come across so many webpages across the web with colorfull designs, animated things which grab our attentions.
                    </p>
                    <p>Ever thought to design a webpage but left with no time !! Don't worry we are here to make ur wish full fill.</p>
                    <a href="#" class="boxed-btn3-line">Write a review</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6">
            <h4 color:white>At present,we offers these templates..</h4><br>
                <div class="progress_skills">
                    <div class="single_progress">
                        <div class="label d-flex justify-content-between">
                            <span>Wedding</span>
                            <span>5 Templates</span>
                        </div>
                            <div class="progress">
                                    <div class="progress-bar " role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                    </div>
                    <div class="single_progress">
                            <div class="label d-flex justify-content-between">
                                    <span>Birthday</span>
                                    <span>3 Templates</span>
                                </div>
                            <div class="progress">
                                    <div class="progress-bar " role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                    </div>
                    <div class="single_progress">
                            <div class="label d-flex justify-content-between">
                                    <span>Personal</span>
                                    <span>2 Templates</span>
                                </div>
                            <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- testimonial_area  -->
    <div class="testimonial_area ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title">
                        <h3>What Clients say</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-xl-9 col-md-9">
                                    <div class="single_testmonial">
                                        <p>“There are many variations of passages of Lorem Ipsum available, but the majority
                                            have suffered alteration in some form by injected humour or randomised words
                                            which don’t look even slightly believable. If you are going to use a passage.
                                        </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="img/case/testmonial.png" alt="">
                                            </div>
                                            <div class="author_name">
                                                <h3>Kalvin Piterson</h3>
                                                <span>Business Owner</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-xl-9 col-md-9">
                                    <div class="single_testmonial">
                                        <p>“There are many variations of passages of Lorem Ipsum available, but the majority
                                            have suffered alteration in some form by injected humour or randomised words
                                            which don’t look even slightly believable. If you are going to use a passage.
                                        </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="img/case/testmonial.png" alt="">
                                            </div>
                                            <div class="author_name">
                                                <h3>Kalvin Piterson</h3>
                                                <span>Business Owner</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-xl-9 col-md-9">
                                    <div class="single_testmonial">
                                        <p>“There are many variations of passages of Lorem Ipsum available, but the majority
                                            have suffered alteration in some form by injected humour or randomised words
                                            which don’t look even slightly believable. If you are going to use a passage.
                                        </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="img/case/testmonial.png" alt="">
                                            </div>
                                            <div class="author_name">
                                                <h3>Kalvin Piterson</h3>
                                                <span>Business Owner</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->

{% endblock %}